# Статические кадры
static/frames/

# Временные файлы
*.tmp
*.log
temp/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Конфигурация
.env
config.env

# IDE
.vscode/
.idea/
*.swp
*.swo


